name: molecule

on:
  push:
  pull_request:
  schedule:
    - cron: '0 18 * * sun'

jobs:
  build:
    name: ${{ matrix.image }} waypoint ${{ matrix.waypoint_version }}
    runs-on: ubuntu-22.04
    env:
      docker_namepsace: ghcr.io/diodonfrost
    strategy:
      fail-fast: false
      matrix:
        image:
          - almalinux:10
          - rockylinux:9
          - oraclelinux:10
          - amazonlinux:2023
          - fedora:43
          - debian:13
          - debian:12
          - ubuntu:26.04
          - ubuntu:24.04
          - opensuse:16.0
          - archlinux:latest
          - alpine:latest
        waypoint_version:
          - latest
          - 0.11.2

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install Molecule
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt

      - name: Test Ansible role
        run: molecule test
        env:
          namespace: ${{ env.docker_namepsace }}
          image: ansible-${{ matrix.image }}
          waypoint_version: ${{ matrix.waypoint_version }}

      - name: Test Ansible role with check_mode enable
        run: molecule check
        env:
          namespace: ${{ env.docker_namepsace }}
          image: ansible-${{ matrix.image }}
          waypoint_version: ${{ matrix.waypoint_version }}
